<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="MysqlUrl" value ="Server=49.233.133.216;User ID=hk;Password=123456;Database=testCentOSmysql;CharSet=utf8;Allow User Variables=True"/>
    <add key ="select01" value ="select * from students"/>
    <add key ="select02" value ="select name,grade1,grade2,grade3 from chengji where stuid=@stuid"/>
    <add key ="select03" value ="select * from chengji"/>
    <add key ="update" value ="update chengji set name=@name,grade1=@grade1,grade2=@grade2,grade3=@grade3 where stuid=@stuid"/>
    <add key ="insert1" value ="insert into user1 (name) values(@name)"/>
    <add key ="insert2" value ="insert into user2 (name) values(@name)"/>
    <add key ="insert3" value ="insert into user3 (name) values(@name)"/>
    <add key ="select04" value ="select * from go_hospital"/>
    <add key ="select05" value ="select * from hospital"/>
    <add key ="update2" value ="update hospital set name=@name,tel=@tel,area=@area where hid=@hid"/>
    <add key ="select06" value ="select * from hospital where name=@name"/>
    <add key ="select07" value ="select image from hospital_image where imageid = @hpid"/>
    <add key ="select08" value ="select * from match_hospital"/>
    <add key ="MysqlUrl2" value ="Server=49.233.133.216;User ID=hk;Password=123456;Database=testCentOSmysql;Charset=utf8;Allow User Variables=True"/>
    <add key ="select09" value ="select grade1 from grade where id=@x "/>
    <add key ="select10" value ="select grade2 from grade where id=@y "/>
    <add key ="select11" value ="select grade3 from grade where id=@z "/>
    <add key ="select12" value ="select name from go_hospital where hospital ='广医附属医院' "/>
    <add key ="insert4" value ="insert into total_grade (name,total) values(@name,@total)"/>
    <add key ="select13" value ="select * from total_grade order by total desc "/>
  </appSettings>
</configuration>